<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Каталог товаров</h1>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Название товара</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Общая стоимость</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${list}">
                <td th:text="${cartItem.getProduct().getTitle()}"></td>
                <td th:text="${cartItem.getProduct().getCost()}"></td>
                <td th:text="${cartItem.getCount()}"></td>
                <td th:text="${cartItem.getCount()*cartItem.getProduct().getCost()}"></td>
            </tr>
            </tbody>
        </table>
        <h2><a th:href="@{'/'}">На главную</a></h2>
    </div>
</body>
</html>