<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Товар: <span th:text="${product.getTitle()}"></span></h1>

        <div class="form-group" style="margin-left: 50px">
            <h3><label th:text="'Id: ' + ${product.getId()}"></label></h3>
            <h3><label th:text="'Название: ' + ${product.getTitle()}"></label></h3>
            <h3><label th:text="'Цена: ' + ${product.getCost()}"></label></h3>
        </div>

        <table class="table table-hover">
            <h3><label style="margin-left: 20px" for="thead-dark">Список полкупателей:</label></h3>
            <thead id="thead-dark" class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Покупатель</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${product.getUsers()}">
                <td th:text="${user.id}"/>
                <td th:text="${user.getTitle()}"/>
                <td><a class="btn btn-primary" th:href="@{'/product/edit?id=' + ${product.id}}">Update</a></td>
            </tr>
            </tbody>
        </table>
        <h2><a th:href="@{'/'}">На главную</a></h2>
    </div>
</body>
</html>